@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import '/theme.css';

@import 'tailwindcss/utilities';

@layer base {
  :root {
    --background: 60 27% 98%; /* 50 instead of white */
    --foreground: 0 2% 8%; /* 900 */

    --card: 0 0% 100%; /* white */
    --card-foreground: 0 2% 8%; /* 900 */

    --popover: 0 0% 100%; /* white */
    --popover-foreground: 0 2% 8%; /* 900 */

    --primary: 216 50% 44%; /* primary #3865A8 */
    --primary-foreground: 0 0% 100%; /* white */

    --secondary: 60 23% 94%; /* 100 */
    --secondary-foreground: 0 5% 12%; /* 800 */

    --muted: 60 23% 94%; /* 100 */
    --muted-foreground: 357 7% 40%; /* 500 */

    --accent: 60 23% 94%; /* 100 */
    --accent-foreground: 0 5% 12%; /* 800 */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 27% 98%; /* 50 */

    --border: 60 15% 88%; /* 300 */
    --input: 60 15% 88%; /* 300 */

    --ring: 216 50% 44%; /* primary #3865A8 */
    --alternate: 0 17% 44%; /* alternate #835D5D */

    --radius: 0.5rem;
  }

  .dark {
    --background: 30 30% 4%; /* 950 */
    --foreground: 60 23% 94%; /* 100 */

    --card: 0 2% 8%; /* 900 */
    --card-foreground: 60 23% 94%; /* 100 */

    --popover: 30 30% 4%; /* 950 */
    --popover-foreground: 60 23% 94%; /* 100 */

    --primary: 216 90% 67%; /* primary #5F9DF7 */
    --primary-foreground: 30 30% 4%; /* 950 */

    --secondary: 0 5% 12%; /* 800 */
    --secondary-foreground: 60 15% 88%; /* 100 */

    --muted: 0 5% 12%; /* 800 */
    --muted-foreground: 351 7% 64%; /* 400 */

    --accent: 0 5% 12%; /* 800 */
    --accent-foreground: 60 23% 94%; /* 100 */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 27% 98%; /* 50 */

    --border: 0 5% 16%; /* 700 */
    --input: 0 5% 16%; /* 700 */

    --ring: 216 90% 67%; /* primary #5F9DF7 */
    --alternate: 0 17% 68%; /* alternate #BBA0A0 */
  }
}

@layer utilities {
  .dark .shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  }
  .dark .shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4),
      0 1px 2px -1px rgba(0, 0, 0, 0.4);
  }
  .dark .shadow-md {
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4),
      0 2px 4px -2px rgba(0, 0, 0, 0.4);
  }
  .dark .shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4),
      0 4px 6px -4px rgba(0, 0, 0, 0.4);
  }
  .dark .shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.4),
      0 8px 10px -6px rgba(0, 0, 0, 0.4);
  }
  .dark .shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
  .dark .shadow-inner {
    --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .dark .shadow-none {
    box-shadow: none;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
