@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import '/theme.css';

@import 'tailwindcss/utilities';

@layer base {
  :root {
    --background: 270 30% 96%; /* 50 */
    --foreground: 272 28% 12%; /* 900 */

    --card: 0 0% 100%; /* white */
    --card-foreground: 272 28% 12%; /* 900 */

    --popover: 0 0% 100%; /* white */
    --popover-foreground: 272 28% 12%; /* 900 */

    --primary: 230 51% 44%; /* #374AA9 */
    --primary-foreground: 272 28% 12%; /* 900 */

    --secondary: 272 32% 92%; /* 100 */
    --secondary-foreground: 270 27% 16%; /* 800 */

    --muted: 272 32% 92%; /* 100 */
    --muted-foreground: 259 17% 44%; /* 500 */

    --accent: 272 32% 92%; /* 100 */
    --accent-foreground: 270 27% 16%; /* 800 */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%; /* 50 */

    --border: 268 31% 88%; /* 200 */
    --input: 268 31% 88%; /* 200 */

    --ring: 230 51% 44%; /* #374AA9 */
    --alternate: 157 35% 44%; /* alternate #499779 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 270 30% 4%; /* 950 */
    --foreground: 272 32% 92%; /* 100 */

    --card: 273 27% 8%; /* 900 */
    --card-foreground: 270 30% 96%; /* 50 */

    --popover: 270 30% 4%; /* 950 */
    --popover-foreground: 270 30% 96%; /* 50 */

    --primary: 230 51% 68%; /* #8492D7 */
    --primary-foreground: 273 27% 8%; /* 900 */

    --secondary: 272 28% 12%; /* 800 */
    --secondary-foreground: 270 30% 96%; /* 50 */

    --muted: 272 28% 12%; /* 800 */
    --muted-foreground: 248 17% 64%; /* 400 */

    --accent: 272 28% 12%; /* 800 */
    --accent-foreground: 270 30% 96%; /* 50 */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 270 30% 96%; /* 50 */

    --border: 272 28% 12%; /* 800 */
    --input: 272 28% 12%; /* 800 */

    --ring: 230 51% 68%; /* #8492D7 */
    --alternate: 158 35% 68%; /* alternate #91CAB5 */
  }
}

@layer utilities {
  .dark .shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  }
  .dark .shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4),
      0 1px 2px -1px rgba(0, 0, 0, 0.4);
  }
  .dark .shadow-md {
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4),
      0 2px 4px -2px rgba(0, 0, 0, 0.4);
  }
  .dark .shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4),
      0 4px 6px -4px rgba(0, 0, 0, 0.4);
  }
  .dark .shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.4),
      0 8px 10px -6px rgba(0, 0, 0, 0.4);
  }
  .dark .shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
  .dark .shadow-inner {
    --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .dark .shadow-none {
    box-shadow: none;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
