/* Scrollspy links */
[data-scrollspy-link].scrollspy-active {
  @apply font-medium text-blue-500;
}

[data-rehype-pretty-code-figure] pre {
  @apply rounded-2xl !bg-gray-900 p-5;
}

[data-rehype-pretty-code-figure] code {
  @apply grid min-w-full break-words rounded-none border-none bg-transparent p-0 text-sm text-gray-900;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-title] {
  @apply rounded-t-lg border border-gray-800 bg-gray-900 px-4 py-3 font-mono text-xs text-gray-200;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none border-t-0;
}
