@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 27% 98%; /* 50 instead of white */
    --foreground: 348 10% 10%; /* 950 */

    --card: 0 0% 100%; /* white */
    --card-foreground: 348 10% 10%; /* 950 */

    --popover: 0 0% 100%; /* white */
    --popover-foreground: 348 10% 10%; /* 950 */

    --primary: 216 7% 48%; /* primary #727883 */
    --primary-foreground: 0 0% 100%; /* white */

    --secondary: 60 23% 94%; /* 100 */
    --secondary-foreground: 350 8% 14%; /* 900 */

    --muted: 60 23% 94%; /* 100 */
    --muted-foreground: 25 5% 45%; /* 500 */

    --accent: 60 23% 94%; /* 100 */
    --accent-foreground: 350 8% 14%; /* 900 */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 27% 98%; /* 50 */

    --border: 60 14% 90%; /* 200 */
    --input: 60 14% 90%; /* 200 */

    --ring: 216 7% 48%; /* primary #727883 */
    --alternate: 346 7% 36%; /* alternate #625558 */

    --radius: 0.3rem;
  }

  .dark {
    --background: 348 10% 10%; /* 950 */
    --foreground: 60 27% 98%; /* 50 */

    --card: 350 8% 14%; /* 900 */
    --card-foreground: 0 0% 100%; /* white */

    --popover: 348 10% 10%; /* 950 */
    --popover-foreground: 60 27% 98%; /* 50 */

    --primary: 225 24% 68%; /* primary #9AA4C1 */
    --primary-foreground: 348 10% 10%; /* 950 */

    --secondary: 350 7% 18%; /* 800 */
    --secondary-foreground: 60 27% 98%; /* 50 */

    --muted: 350 7% 18%; /* 800 */
    --muted-foreground: 24 5% 64%; /* 400 */

    --accent: 350 7% 18%; /* 800 */
    --accent-foreground: 60 27% 98%; /* 50 */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 27% 98%; /* 50 */

    --border: 350 7% 18%; /* 800 */
    --input: 350 7% 18%; /* 800 */

    --ring: 225 24% 68%; /* primary #9AA4C1 */
    --alternate: 350 14% 68%; /* alternate #B9A2A6 */
  }
}

@layer utilities {
  .dark .shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  }
  .dark .shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4),
      0 1px 2px -1px rgba(0, 0, 0, 0.4);
  }
  .dark .shadow-md {
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4),
      0 2px 4px -2px rgba(0, 0, 0, 0.4);
  }
  .dark .shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4),
      0 4px 6px -4px rgba(0, 0, 0, 0.4);
  }
  .dark .shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.4),
      0 8px 10px -6px rgba(0, 0, 0, 0.4);
  }
  .dark .shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
  .dark .shadow-inner {
    --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .dark .shadow-none {
    box-shadow: none;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
